<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/img/Logo.png">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bottom-nav-bar.css">
    <link rel="stylesheet" href="/css/nevigation-bar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
  <!-- Include Here -->
  <%- include('partials/header') -%>
  <br>
  <%- include('partials/messages') -%>

  <div class="hero-banner">
    <div class="hero-banner-content">
      <h4 class="text-white mt-4">HR Management System</h4>
      <p class="text-white">Human Resource for DK</p>
    </div>
    <img src="\img\hm.jpg" alt="Hero Banner" class="img-fluid">
    <div class="hero-banner-overlay"></div>
  </div>
  
  <style>
    .hero-banner {
      position: relative;
      max-width: 1284px;
      margin: 0 auto;
      overflow: hidden;
      border: 2px solid #fff;
      margin-top: 20px;
     
    }
  
    .hero-banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .hero-banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .hero-banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;
      width: 100%;
    }
  
    .hero-banner-content h4 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      text-shadow: 2px 2px #000;
    }
  
    .hero-banner-content p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 40px;
      text-shadow: 1px 1px #000;
      max-width: 600px;
      padding: 0 20px;
    }
  
    @media screen and (min-width: 768px) {
      .hero-banner {
        height: 500px;
      }
    }
  </style>
  

<!-- Description starts -->
<div class="container-lg" style="margin-top: 40px;">
  <div class="row mb-4">
    <div class="col-md-12">
      <h2 class="text-uppercase text-secondary font-weight-bold mb-0">Description</h2>
      <hr class="my-4">
      <p class="font-weight-light justify-content-center" style="color: #000; font-size: medium;">
        The COVID-19 pandemic has caused immense social and economic difficulties and tragic loss of 
        lives across the world. While Bhutan’s economy and people’s livelihood have been adversely impacted, 
        we are fortunate to have been shielded from some of the most devastating consequences.<br><br>

        This has been possible due to the leadership of His Majesty The King and the efforts of the Royal 
        Government to provide timely and substantive support to individuals and businesses and adoption of 
        comprehensive health measures.<br><br>

        Upon the command of His Majesty, the National Resilience Fund was set up in April 2020 to provide 
        economic relief to people through the Druk Gyalpo’s Relief Kidu. The Relief Kidu granted monthly 
        income support to individuals and loan interest payment support to borrowers for a period of one 
        year (April 2020 – March 2021). Over 37,000 people and their children have been granted the monthly 
        income support Kidu in the last one year, while close to 140,000 loan accounts benefited from the 
        interest payment support.

      </p>
    </div>
  </div>
  <!-- End description -->
  
  <!-- Start vision -->
  <div class="row mb-4">
    <div class="col-md-12">
        <h2 class="text-uppercase text-secondary font-weight-bold mb-0">Vision</h2>
        <hr class="my-4">
    </div>
  </div>
  
  <div class="row align-items-center">
      <div class="col-md-5 mb-4">
        <img src="\img\vision.png" class="img-fluid img-fluid-animated move-up-down">
      </div>
      <div class="col-md-7 mb-4">
        <p  class="font-weight-light justify-content-center" style="color: #000; font-size: medium;">
          The aim of the HR Management project is to provide administrators with a comprehensive and user-friendly 
          system for managing user accounts and permissions. The project enables the creation, editing, and 
          deletion of user accounts, along with the ability to assign roles and track user activity. 
          By streamlining user administration tasks, the project aims to enhance efficiency, data integrity, 
          and security within an administrative environment, ultimately facilitating effective user management 
          and access control.
        </p>
      </div>
  </div>
</div>

<!-- footer -->
<footer id="myFooter" style="background-color: #004aad; margin-top: 27px">
	<div class="container-fluid" style="color: rgb(227, 14, 14)">
	  <div class="row text-center">
		<div class="col-12 col-sm-6 col-md-4 text-center">
		  <img
			src="/img/Logo.png"
			style="width: 100px; pointer-events: none"
		  />
  
		  <div>
			<a href="https://www.facebook.com/GCIT.Bhutan">
			  <i
				class="fa fa-facebook footer-contacts-icon"
				style="
				  transition: all 0.2s ease-in-out;
				  background-color: #32b9ff;
				"
				onmouseover="this.style.backgroundColor='gray'; this.style.color='white';"
				onmouseout="this.style.backgroundColor='rgb(8, 163, 255)'; this.style.color='';"
				style="background-color: rgb(8, 163, 255)"
			  >
			  </i>
			</a>
			<a href="https://www.instagram.com/gcit_rub/">
			  <i
				class="fa fa-instagram footer-contacts-icon"
				style="
				  transition: all 0.2s ease-in-out;
				  color: red;
				  background-color: transparent;
				"
				onmouseover="this.style.backgroundColor='gray'; this.style.color='white';"
				onmouseout="this.style.backgroundColor='transparent'; this.style.color='rgb(234,9,9)';"
			  >
			  </i>
			</a>
			<a href="https://www.youtube.com/@gcit4943">
			  <i
				class="fa fa-youtube-play footer-contacts-icon"
				style="
				  transition: all 0.2s ease-in-out;
				  color: red;
				  background-color: transparent;
				"
				onmouseover="this.style.backgroundColor='gray'; this.style.color='white';"
				onmouseout="this.style.backgroundColor='transparent'; this.style.color='rgb(224,14,14)';"
			  >
			  </i>
			</a>
		  </div>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
		  <h5><span style="text-decoration: underline">Useful Link</span></h5>
		  <ul>
			<li><a href="https://royalkidu.bt/">Royal Kidu</a></li>
			<li><a href="https://dk.bt/">Digital Kidu App<br/></a></li>
		  </ul>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
		  <h5><span style="text-decoration: underline">Contact Us</span></h5>
		  <ul>
			<li class="text-white">hrms@dk.bt</li>
			<li class="text-white">Customer Service Hotline: 8888<br /></li>
		  </ul>
		</div>
	  </div>
	  <hr style="color: rgb(234, 205, 205); background-color: #f4f0f0" />
	  <p class="text-center" style="font-size: 12px">
		Copyright © HR Management System 2023
	  </p>
	</div>
  </footer>

<style>
    .container-lg {
      max-width: 1310px;
      margin: 0 auto;
      padding: 0 15px;
    }
  
    .move-up-down {
      animation: move-up-down 2s ease-in-out infinite;
    }
  
    @keyframes move-up-down {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0);
      }
    }
  
    p {
      margin-bottom: 1.5rem;
      font-size: 1.1rem;
      line-height: 1.6;
      font-family: Roboto, sans-serif;
      text-align: justify;
    }
  
    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      font-family: Roboto, sans-serif;
    }
  
    hr {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      border: 0;
      border-top: 1px solid #dee2e6;
    }
  </style>
  
  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <!-- Script for preloader -->
  <script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function () {
      loader.style.display = "none";
    });
  </script>
</body>

</html>
